<% @genres.each do |genre| %>
  <div class="genre">
    <%= link_to genre.name, genre, :class => 'genre_name' %>
    <div class="genre_songs">
      <% genre.songs.order('random()').each do |song| %>
        <div class="song">
          <%= link_to song.title, song %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<%= link_to 'New Genre', new_genre_path %>