.genre_title {
  font-size: 3em;
  line-height: 1.2em;
  font-weight: 900;
}

.genre_descriptions {
  font-style: italic;
  font-weight: 600;
}

.genre {
	border: 1px solid #4C153E;
	width: 230px;
	height: 330px;
	display: inline-block;
}

.genre_name {
	font-size: 2em;
	line-height: 1.2em;
	text-decoration: none;
}