// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header.track_title {
  color: #2C5E18;
  font-size: 30px;
  text-align: center;
}

.mix_name {
  opacity: 0.7;
}

.remixers {
  display: inline-block;
  opacity: 0.7;
}

#song_rating {
	display: inline-block;
}

.rating_value {
	display: inline-block;
}
